<h1>Hello Index</h1>

<h1> <%= link_to "New Show", new_show_path %> </h1>

<% @shows.each do |show| %>

  <%= link_to show.title, show %>
  <%= show.season %>
  <%= link_to "Contestants", show_contestants_path(show) %>

<% end %>
